@model Project.Models.Account.RegistrationDataViewModel

@{
    ViewData["Title"] = "Index";
    Layout = null;
}


<!DOCTYPE html>
<html style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="InvestBank">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Registration</title>
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/nicepage.css" rel="stylesheet" />
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Главная">
    <meta property="og:type" content="website">
</head>

<section class="u-align-center u-clearfix u-section-1" id="sec-3de2">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-form u-login-control u-form-1">
            <h1>Registration</h1>
            <form asp-action="Registration" class="u-clearfix u-form-custom-backend u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 10px;">
                <div class="u-form-group u-form-name">
                    <label asp-for="UserName" class="u-label">Username *</label>
                    <input asp-for="UserName" placeholder="Enter your Username" name="username" class="u-grey-5 u-input u-input-rectangle u-input-1" required="">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="u-form-group u-form-password">
                    <label asp-for="Email" class="u-label">Email *</label>
                    <input asp-for="Email" placeholder="Enter your Email" name="email" class="u-grey-5 u-input u-input-rectangle u-input-2" required="">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="u-form-group u-form-name">
                    <label asp-for="Password" class="u-label">Password *</label>
                    <input asp-for="Password" type="password" placeholder="Enter your Password" name="password" class="u-grey-5 u-input u-input-rectangle u-input-1" required="">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="u-form-group u-form-password">
                    <label asp-for="PasswordSecond" class="u-label">Password *</label>
                    <input asp-for="PasswordSecond" type="password" placeholder="Enter your Password again " name="passwordsecond" class="u-grey-5 u-input u-input-rectangle u-input-2" required="">
                    <span asp-validation-for="PasswordSecond" class="text-danger"></span>
                </div>
                <div class="u-align-left u-form-group u-form-submit">
                    <input type="submit" value="Registration" class="u-btn u-btn-submit u-button-style u-btn-1">
                </div>
                <input type="hidden" value="" name="recaptchaResponse">
            </form>
        </div>
    </div>
</section>

</html>