@{
    Layout = null;
}
<!DOCTYPE html>
<html style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="InvestBANK">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Страница 1</title>

    <link href="~/css/nicepage.css" rel="stylesheet" />
    <link href="~/css/page1.css" rel="stylesheet" />

    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <meta name="generator" content="Nicepage 3.29.1, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Страница 1">
    <meta property="og:type" content="website">
</head>
<body class="u-body u-hide-footer u-hide-header" data-style="blank" data-posts="" data-global-section-properties="{&quot;colorings&quot;:{&quot;light&quot;:[&quot;clean&quot;],&quot;colored&quot;:[&quot;clean&quot;],&quot;dark&quot;:[&quot;dark&quot;]}}" data-source="blank" data-page-sections-style="[]" data-page-coloring-types="{&quot;light&quot;:[&quot;clean&quot;],&quot;colored&quot;:[&quot;clean&quot;],&quot;dark&quot;:[&quot;dark&quot;]}" data-page-category="&quot;Basic&quot;" data-back-link="https://nicepage.com/landing-page" data-back-link-title="Landing Page" data-wp-back-link="https://nicepage.com/wordpress-themes" data-wp-back-link-title="WordPress Themes" data-jm-back-link="https://nicepage.com/joomla-templates" data-jm-back-link-title="Joomla Templates" data-created-with-link="https://nicepage.best" data-created-with-title="Best Website Builder" data-wp-created-with-link="https://nicepage.com/wordpress-website-builder" data-wp-created-with-title="WordPress Website Builder" data-jm-created-with-link="https://nicepage.com/joomla-page-builder" data-jm-created-with-title="Joomla Page Builder">
    <section class="u-clearfix u-block-ecd9-1" custom-posts-hash="[]" data-style="blank" data-section-properties="{&quot;margin&quot;:&quot;none&quot;,&quot;stretch&quot;:true}" id="sec-fedd" data-source="Blank" data-id="ecd9">
        <div class="u-clearfix u-sheet u-block-ecd9-2">
            <h1 class="u-text u-text-default u-block-ecd9-3">Buying<br><br></h1><div class="u-form u-block-ecd9-6">
                <form action="#" method="POST" class="u-clearfix u-form-horizontal u-form-spacing-15 u-inner-form" style="padding: 15px" source="custom">


                    <div class="u-form-group u-form-name u-block-ecd9-7">
                        <label for="name-558c" class="u-form-control-hidden u-label u-block-ecd9-8">Name</label>
                        <input type="text" placeholder="Name" id="name-558c" name="name" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-block-ecd9-9" required="">
                    </div><div class="u-form-email u-form-group u-block-ecd9-10">
                        <label for="email-558c" class="u-form-control-hidden u-label u-block-ecd9-11">Email</label>
                        <input type="email" placeholder="Email" id="email-558c" name="email" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-block-ecd9-12" required="">
                    </div>

                    <div class="u-form-group u-form-submit u-block-ecd9-13">
                        <a href="#" class="u-btn u-btn-submit u-button-style u-block-ecd9-14">Submit</a>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                    </div>
                    <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
                    <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then try again.</div>
                    <input type="hidden" value="" name="recaptchaResponse">
                </form>
            </div><h1 class="u-text u-text-default u-block-ecd9-5">It's That Design Feeling</h1>
        </div>
    </section>
</body>
</html>